#fundo {
    background-color: #666;
    padding: 20px;
    color: black;
}

.conteudo {
    background-color: white;
    margin-left: 16px;
}

.cor-texto {
    background-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color:rgb(39, 35, 35);
    padding: 20px;
    text-align: center;
    overflow: auto;
    display: block;
}

.logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 15px;
}

.site-name {
    font-size: 2rem;
    color: white;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.tipagem-logo {
    float: inline-start;
    width: 1%;
    height: 1%;
}

.logo-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.texto-centralizado {
    font-size: 30px;
    text-align: center;
    margin: 0px;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
}