.cabecalho {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background-color: green ;
    padding: 10px;
    font-style: italic;
    position: fixed; 
    top: 0;          
    left: 0;  
    right: 0;      
    
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pesquisar {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: dashed;
    font-style: italic;
    color:black;
}

.bodi {
    background-image: url(https://image.freepik.com/fotos-gratis/jovem-trabalhando-com-laptop-as-maos-do-homem-no-computador-portatil-pessoa-de-negocios-no-local-de-trabalho_158538-8123.jpg); 
    background-size: cover;
    background-position: center center;
    margin: 0;
}
.boditabela {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    text-align: center;
    color: black;
}
.tabelaum {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgba(177, 180, 177, 0.5);
    color: green;
    padding: 80px;
    background-position: center center;
    margin-top: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;


}
.tabeladois {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    text-align: left;
    margin-left: 20px;
    margin-right: 80px;
    margin-top: 80px;
    text-align: justify;
    
    
}
.tabelatres {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgba(177, 180, 177, 0.5);
    color: green;
    padding: 80px;
    background-position: center center;
    margin-top: 80px;
 
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom: 20px;
}


.titulotabela {
    text-align: center;
    font-size: 35px;
    background-color:rgba(177, 160, 160, 0.7);
    color: green;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.imput {
    width: 400px;
    height: 25px;
    font-size: 20px;
    border: solid black;
    background-color: lightgray;
    color: green;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.butao {
    background-color: lightgray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
}
.butaocadastrar {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    
}
/* algo para talvez usar
text-shadow: 
        2px 2px 4px rgba(2, 12, 0, 0.959),   
        -2px -2px 4px rgba(0, 0, 0, 0.8), 
        2px -2px 4px rgba(3, 26, 1, 0.8), 
        -2px 2px 4px rgba(0, 0, 0, 0.8);
*/